.anim__container {
    position: relative;
    width: 70%;
}

.preanim__image {
    display: block;
    border-radius: 10px;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffc5;
    border-radius: 10px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
}

.anim__container:hover .overlay {
    width: 100%;
}

.afteranim__text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: 3px;
    margin-right: 20px;
    text-align: justify;
    transform: translate(-50%, -50%);
}