body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 1400;
    background-color: aliceblue;
}

.global__container {
    width: 1400px;
    margin: 0px auto;
}

html {
    scroll-behavior: smooth;
}

.row {
    display: table;
    width: 100%;
}

.img__col {
    display: table-cell;
    width: 70%;
}

.info__col {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}