A,
a {
    text-decoration: none;
}

A:link,
a:link {
    color: black;
}

A:visited,
a:visited {
    color: rgba(71, 71, 71, 0.9);
}

A:hover,
a:hover {
    color: black;
    text-decoration: underline;
}