table {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 20px;
}

caption {
    font-size: x-large;
    margin-bottom: 5px;
}

td,
th {
    padding: 10px;
    border: 1px black;
    border-style: outset;
    border-radius: 5px;
    text-align: center;
}

.row {
    display: table;
    width: 100%;
}

.img_col {
    display: table-cell;
    width: 70%;
}

.info_col_right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.info_col_left {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}