h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20pt;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    text-align: left;
    margin-bottom: 12px;
    line-height: 20pt;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
}